.activity-by-participants-wrapper {
    height: 85%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input[type='text'] {
    height: 2rem;
    width: 2rem;
    border: none;
    border: 3px solid #e8e8e8;
    border-radius: 10px;
}

input[type='range'] {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1;
    height: 2rem;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    width: 15rem;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type='range']:focus {
    outline: none;
}
input[type='range']::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    background-color: #148d95;
    border-radius: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
input[type='range']::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    background-color: #148d95;
    border-radius: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
input[type='range']::-ms-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    background-color: #148d95;
    border-radius: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
input[type='range']:hover::-webkit-slider-thumb {
    border-color: rgba(255, 255, 255, 0.7);
}
input[type='range']:hover::-moz-range-thumb {
    border-color: rgba(255, 255, 255, 0.7);
}
input[type='range']:hover::-ms-thumb {
    border-color: rgba(255, 255, 255, 0.7);
}
input[type='range']:active::-webkit-slider-thumb {
    border-color: #ffffff;
}
input[type='range']:active::-moz-range-thumb {
    border-color: #ffffff;
}
input[type='range']:active::-ms-thumb {
    border-color: #ffffff;
}
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    height: 0.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
}
input[type='range']::-moz-range-track {
    width: 100%;
    cursor: pointer;
    height: 0.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
}
input[type='range']::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
}
